.title-card {
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #333;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    min-width: 30rem;
    min-height: 10rem;
    z-index: 1000;
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-content h1 {
    color: #ffffff;
    font-size: 6rem;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-content h2 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0.5rem 0 0 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-divider {
    height: 2px;
    width: 60px;
    background: linear-gradient(to right, transparent, #666, transparent);
    margin: 1rem auto;
}

.title-card-image-container {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 60rem;
    height: 60rem;
    overflow: hidden;
    z-index: 1;
}

.title-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}